xml/metrolinx.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title"/>
        <xs:element type="xs:short" name="last_modified_date"/>
        <xs:element type="xs:string" name="created_by"/>
        <xs:element type="xs:string" name="comments"/>
        <xs:element type="xs:string" name="hdfs_path"/>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="metadata_type" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entity" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                  <xs:attribute type="xs:string" name="field_type" use="optional"/>
                                  <xs:attribute type="xs:string" name="field_business_definition" use="optional"/>
                                  <xs:attribute type="xs:string" name="field_length" use="optional"/>
                                  <xs:attribute type="xs:string" name="field_comment" use="optional"/>
                                  <xs:attribute type="xs:string" name="field_precision" use="optional"/>
                                  <xs:attribute type="xs:string" name="field_format" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:string" name="business_unit" use="optional"/>
                        <xs:attribute type="xs:string" name="entity_business_definition" use="optional"/>
                        <xs:attribute type="xs:string" name="entity_comment" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="data_steward" minOccurs="0"/>
                    <xs:element name="operations" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="op_type" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="job">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="op_name" use="optional"/>
                                        <xs:attribute type="xs:string" name="script_type" use="optional"/>
                                        <xs:attribute type="xs:string" name="script_location" use="optional"/>
                                        <xs:attribute type="xs:string" name="source_type" use="optional"/>
                                        <xs:attribute type="xs:string" name="source_schema_name" use="optional"/>
                                        <xs:attribute type="xs:string" name="source_entity_name" use="optional"/>
                                        <xs:attribute type="xs:string" name="source_system" use="optional"/>
                                        <xs:attribute type="xs:string" name="source_path" use="optional"/>
                                        <xs:attribute type="xs:string" name="target_type" use="optional"/>
                                        <xs:attribute type="xs:string" name="target_schema_name" use="optional"/>
                                        <xs:attribute type="xs:string" name="target_entity_name" use="optional"/>
                                        <xs:attribute type="xs:string" name="target_system" use="optional"/>
                                        <xs:attribute type="xs:string" name="target_path" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="signal"/>
    </xs:complexType>
  </xs:element>
</xs:schema>